@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root{
    --amareloMostarda: #B58921;
}
/* font-family: 'PT Mono', monospace; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
}
html {
    scroll-behavior: smooth;
}

/* Inicio do Header */

header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 70px;
}
#navegacao {
    display: flex;
    align-items: baseline;
    list-style-type: none;
}
#navMenu ul li {
    padding: 10px 0;
    margin: 0 10px;
    font-family: 'Source Serif Pro', serif;
}

#navegacao li a {
    padding: 10px 5px;
    color: #FFF;
    transition: 1s;
}
#navegacao li a:hover {
    color: var(--amareloMostarda) !important;
}
.nomeRestaurante {
    font-weight: 500;
    font-size: 3em;
    color: #FFF;
}
.peso1 {
    padding-top: 50px;
    font-size: 2em;
}
.peso2 {
    font-size: 1.5em;
}

#responMenu {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#menuBurg {
    border: none;
    cursor: pointer;
    background-color: #00000000;
}
#menuBurg:focus{
    border: none;
    background-color: #00000000;
}

#navegacao.ativo{
    display: flex;
    flex-direction: column;
    height: calc(45vh - 70px);
    visibility: visible;
    padding-top: 4%;
}

/* Área da chegada */

#chegada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background: url("../img/home/background.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#areaChegada {
    margin: auto;
}

/* Área dos textos e textos da chegada */

#textChegada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}
#textChegada h1 {
    font-size: 5em;
    font-weight: 500;
    font-family: 'Ephesis', cursive;
    color: #FFF;
    text-shadow: 0 0 5px #000;
}
#textChegada h2 {
    font-weight: 500;
    font-size: 1.8em;
    color: #FFF;
    text-shadow: 0 0 5px #000;
}

/* Área dos botões da chegada */

#areaButons {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
#areaButons button {
    padding: 14px;
    font-size: 1.3em;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
    border: 2px solid var(--amareloMostarda);
    color: #FFF;
    background-color: rgba(255, 255, 255, 0);
}
#areaButons button:hover {
    transform: scale(1.2);
    border-color: #f0e7df;
    font-weight: 500;
    color: #D98218;
    background-color:  #f0e7df;
}

/* Sobre o restaurante */

#sobre {
    background-color: #E8E7E3;
    text-align: center;
    color: #392D28;
}
#sobre > h1 {
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 20px;
}

#containerSobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    margin: 30px auto;
}

#imgChefe {
    height: 600px;
    border-radius: 2%;
    border: 3px ridge rgb(88, 88, 88);
    box-shadow: 0 0 10px rgb(32, 32, 36);
}

#areaTextSobre p {
    width: 80%;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: 400;
}
.textBold {
    font-weight: bolder;
}
/* Imagens do restaurante */

#imgRestaurante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 150px;
    padding: 15px;

    background: url("../img/home/fundo_imgs.jpg");
}
.caixaImg {
    width: 500px;
    height: 346px;
}
.caixaImg img {
    width: 100%;
    height: 100%;

    border-radius: 3px;
}

/* Prato famoso do restaurante */

#pratoFamoso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    margin-top: 100px;
    padding: 20px;
}
#areaTextFamoso {
    width: 45%;
    font-size: 1.3em;
}
#areaTextFamoso h1 {
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 4.5em;
    font-weight: 500;
}
#areaTextFamoso p, #areaTextFamoso li {
    margin: 10px auto;
}

#areaTextFamoso h5 {
    width: fit-content;

    font-size: 1.4em;

    border-bottom: 1px solid rgba(0, 0, 0, .6);
}
#areaTextFamoso ul {
    list-style-type: circle;
}
::marker{
    color: #2C2A25;
}

#imgPrato {
    width: 500px;
    height: 500px;
    margin-top: 121px;
    border-radius: 50%;
}

#areaBtn {
    display: flex;
    justify-content: left;

    margin-top: 30px;
}
#butaoPopulares {
    padding: 10px;
    margin-right: auto;
    font-size: 1.2em;
    cursor: pointer;    
    transition: 1s;
    color: #392D28;
    border: 2px solid var(--amareloMostarda);
    background-color: #00000000;
}
#butaoPopulares:hover {
    transform: scale(1.1);
}

/* Area Localização */
#localizacao {
    margin-top: 80px;
    background: url("../img/home/backgroun_contatos_img.jpg");
    padding: 10px;
}
#localizacao  h1 {
    font-size: 4.5em;
    font-family: 'Ephesis', cursive;
    font-size: 4.5em;
    font-weight: 500;
    color: #FFF;
}
#controleLocalizacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
#areaInformacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#caixaInformacao {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 10px;
}
.info{
    color: var(--amareloMostarda);
    margin: 0 5px;
}
.info h2 {
    margin-bottom: 10px;
    color: #FFF;
}
.info a {
    color: var(--amareloMostarda);
}
.info a:visited {
    color: var(--amareloMostarda);
}
.info li::marker {
    color: #FFF;
}
#btnsLocalizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#btnsLocalizacao button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 1.4em;
    cursor: pointer;
    transition: 1s;
    color: #FFF;
    border: 2px solid var(--amareloMostarda);
    background-color: rgba(0, 0, 0, 0);
}
#btnsLocalizacao button:hover, footer button:hover {
    transform: scale(1.2);
}
#btnReserva {
    width: 172.8px;
}
#btnOcultar {
    display: none !important;
}
#iconMap {
    margin-left: 5px;
}
#map {
    width: 50vw;
    height: 30vh;
    opacity: .8;
    border: none;
    border-radius: 3px;
}
/* Área Footer */
footer {
    text-align: center;
    background-color: #262626;
    padding: 10px;
}
footer h1 {
    margin-bottom: 20px;
}
footer button {
    padding: 8px;
    margin: 10px auto;
    font-size: 1.4em;
    cursor: pointer;
    transition: 1s;
    color: #FFF;
    border: 2px solid var(--amareloMostarda);
    background-color: rgba(0, 0, 0, 0);
}

#controleFooter {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}
#controleFooter h2 {
    font-size: 2em;
    color: #F2F2F2;
    margin-bottom: 20px;
    font-weight: 500;
}
#footerRestaurante {
    text-align: left;
}
#footerRestaurante ul {
    list-style-type: none;
    margin-bottom: 10px;
}
#footerRestaurante li {
    font-size: 1.3em;
    text-align: left;
    margin-top: 10px;
}
#footerRestaurante li a {
    color: var(--amareloMostarda);
}
#areaDev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#caixaImgDev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
}
.caixaDev {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.caixaDev img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.caixaDev h3 {
    color: var(--amareloMostarda);
    font-weight: 500;
}
#copy {
    color: #F2F2F2;
    font-weight: 500;
}
@media (max-width: 1050px) {

    /* Área chegada */
    #textChegada h1 {
        font-size: 4em;
    }
    #textChegada h2{
        font-size: 1.4em;
    }

    /* Área sobre o restaurante */
    #imgChefe {
        height: 450px;
    }
    #imgRestaurante {
        margin-top: 75px;
    }
    .caixaImg {
        width: 350px;
        height: 300px;
    }
    /* Área do prato famoso */
    #pratoFamoso {
        margin-top: 30px;
    }
    #areaTextFamoso h1 {
        font-size: 3.5em;
    }
    #areaTextFamoso  {
        font-size: 1.2em;
    }
    #imgPrato{
        height: 350px;
        width: 350px;
    }
    /* Área da localização */
    #localizacao {
        margin-top: 30px;
    }
    #caixaInformacao {
        gap: 20px
    }
    #btnsLocalizacao {
        justify-content: left;
        margin: 20px 0 0 15px;
    }
    #map {
        width: 40vw;
    }

}

@media(max-width: 768px) {
    header {
        background-color: #14161D;
    }
    #areaChegada {
        margin: 0;
    }
    .nomeRestaurante{
        color: var(--amareloMostarda);
    }
    #responMenu {
        display: flex;
    }
    #navegacao {
        display: block;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 0;
        z-index: 10;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        background-color: #14161D;
    }
    #navegacao li {
        width: 90%;
        border-bottom: 1px solid #FFF;
    }
    #navegacao li a {
        color: var(--amareloMostarda);
        font-size: 1.8em;
        
    }
    #nomeLista {
        display: none;
    }
    #chegada {
        padding: 0;
    }
    #textChegada h1 {
        font-size: 3em;
    }
    /* Área sobre o restaurante */
    #imgChefe {
        display: none;
    }
    .caixaImg {
        width: 300px;
        height: 300px;
    }
    /* Área prato famoso */
    #areaTextFamoso h1 {
        font-size: 3.5em;
    }
    #areaTextFamoso  {
        width: 90%;
        font-size: 1.2em;
    }
    #imgPrato{
        display: none;
    }

    /* Área localizacação */
    #controleLocalizacao {
        flex-direction: column;
    }
    #localizacao  h1 {
        font-size: 3.5em;
    }
    #areaInformacao {
        margin: auto;
    }
    #btnsLocalizacao button:hover, footer button:hover {
        transform: none;
    }
    #btnsLocalizacao {
        justify-content: space-around;
        margin: 30px 0 0 0;
    }
    #btnOcultar {
        display: flex !important;
    }
    #areamaps {
        display: none;
        width: 100%;
        margin-top: 30px;
    }
    #map {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .nomeRestaurante {
        font-size: 2.5em;
    }
    #navegacao li a {
        font-size: 1.5em;
    }
    #navegacao.ativo {
        height: calc(40vh - 70px);
        padding-top: 2%;
    } 
    /* Butons Chegada */
    #areaButons button {
        padding: 8px;
    }
    #containerSobre {
        padding: 0;
    }
    .caixaImg {
        width: 250px;
        height: 250px;
    }
    #btnsLocalizacao {
        flex-direction: column;
    }
    #btnsLocalizacao button {
        margin: 8px;
    }
    #footerRestaurante {
        text-align: center;
    }
    #footerRestaurante ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 320px){
    #navegacao {
        top: 50px;
    }
    #navegacao.ativo {
        height: calc(40vh - 50px);
        padding-top: 15%;
    } 
    #textChegada {
        width: 100%;
        margin: 0;
    }
    #textChegada h2 {
        margin-top: 5px;
    }
    #areaButons, #btnsLocalizacao  {
        flex-direction: column;
    }
    #areaButons button, #btnsLocalizacao button {
        margin: 10px;
    }
    /* Prato famoso */
    #pratoFamoso {
        padding: 8px;
    }
    #areaTextFamoso h1 {
        font-size: 3em;
    }
    #areaTextFamoso h5 {
        font-size: 1em;
    }
    #localizacao h1 {
        font-size: 2.8em;
    }
}